a {
	color: #72c02c;
	text-decoration: none;
	background-color: transparent;
	transition: ease all .2s;
}

a:hover {
	color: #72c02c;
}

.text-primary {
	color: #72c02c !important;
}

.py-80 {
	padding: 80px 0;
}


/* Buttons Global Style*/

.btn-md {
	line-height: 1.4;
	padding: 0.57143rem 1.42857rem;
	font-size: 1.07143rem;
}


/* 3d Buttons */

.u-btn-3d {
	border-bottom: solid 3px rgba(0, 0, 0, 0.2);
}

.u-btn-3d:hover {
	border-bottom-color: rgba(0, 0, 0, 0.3);
}


/* Inset Buttons */

.u-btn-inset {
	position: relative;
}

.u-btn-inset::before {
	position: absolute;
	top: 0.14286rem;
	right: 0.14286rem;
	bottom: 0.14286rem;
	left: 0.14286rem;
	content: "";
	border: solid 1px #fff;
	border-radius: 1px;
}


/* Skew Button */

.u-btn-skew {
	-webkit-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

.u-btn-skew__inner {
	-webkit-transform: skewX(20deg);
	-ms-transform: skewX(20deg);
	transform: skewX(20deg);
	display: block;
}


/***********  Default Buttons  ***************/


/* Button Primary */

.u-btn-primary {
	color: #fff;
	background-color: #72c02c;
}

.u-btn-primary:hover,
.u-btn-primary.active {
	border-color: #8cd54a;
	background-color: #8cd54a;
}

.u-btn-primary:hover,
.u-btn-primary:focus,
.u-btn-primary.active {
	color: #fff;
}


/* Button Red */

.u-btn-red {
	color: #fff;
	background-color: #f00;
}

.u-btn-red:hover,
.u-btn-red.active {
	border-color: #ff3333;
	background-color: #ff3333;
}

.u-btn-red:hover,
.u-btn-red:focus,
.u-btn-red.active {
	color: #fff;
}


/* Button Red Tomato */

.u-btn-lightred {
	color: #fff;
	background-color: #e64b3b;
}

.u-btn-lightred:hover,
.u-btn-lightred.active {
	border-color: #ec7568;
	background-color: #ec7568;
}

.u-btn-lightred:hover,
.u-btn-lightred:focus,
.u-btn-lightred.active {
	color: #fff;
}


/* Button Dark Red */

.u-btn-darkred {
	color: #fff;
	background-color: #a10f2b;
}

.u-btn-darkred:hover,
.u-btn-darkred.active {
	border-color: #d01337;
	background-color: #d01337;
}

.u-btn-darkred:hover,
.u-btn-darkred:focus,
.u-btn-darkred.active {
	color: #fff;
}


/* Button Blue */

.u-btn-blue {
	color: #fff;
	background-color: #3398dc;
}

.u-btn-blue:hover,
.u-btn-blue.active {
	border-color: #5faee3;
	background-color: #5faee3;
}

.u-btn-blue:hover,
.u-btn-blue:focus,
.u-btn-blue.active {
	color: #fff;
}


/* Button Indigo */

.u-btn-indigo {
	color: #fff;
	background-color: #4263a3;
}

.u-btn-indigo:hover,
.u-btn-indigo.active {
	border-color: #5b7cbd;
	background-color: #5b7cbd;
}

.u-btn-indigo:hover,
.u-btn-indigo:focus,
.u-btn-indigo.active {
	color: #fff;
}


/* Button Purple */

.u-btn-purple {
	color: #fff;
	background-color: #9a69cb;
}

.u-btn-purple:hover,
.u-btn-purple.active {
	border-color: #b48fd8;
	background-color: #b48fd8;
}

.u-btn-purple:hover,
.u-btn-purple:focus,
.u-btn-purple.active {
	color: #fff;
}


/* Button Dark Purple */

.u-btn-darkpurple {
	color: #fff;
	background-color: #6639b6;
}

.u-btn-darkpurple:hover,
.u-btn-darkpurple.active {
	border-color: #8157cb;
	background-color: #8157cb;
}

.u-btn-darkpurple:hover,
.u-btn-darkpurple:focus,
.u-btn-darkpurple.active {
	color: #fff;
}


/* Button Pink */

.u-btn-pink {
	color: #fff;
	background-color: #e81c62;
}

.u-btn-pink:hover,
.u-btn-pink.active {
	border-color: #ed4a82;
	background-color: #ed4a82;
}

.u-btn-pink:hover,
.u-btn-pink:focus,
.u-btn-pink.active {
	color: #fff;
}


/* Button Orange */

.u-btn-orange {
	color: #fff;
	background-color: #e57d20;
}

.u-btn-orange:hover,
.u-btn-orange.active {
	border-color: #ea984e;
	background-color: #ea984e;
}

.u-btn-orange:hover,
.u-btn-orange:focus,
.u-btn-orange.active {
	color: #fff;
}


/* Button Deep Orange */

.u-btn-deeporange {
	color: #fff;
	background-color: #fe541e;
}

.u-btn-deeporange:hover,
.u-btn-deeporange.active {
	border-color: #fe7b51;
	background-color: #fe7b51;
}

.u-btn-deeporange:hover,
.u-btn-deeporange:focus,
.u-btn-deeporange.active {
	color: #fff;
}


/* Button Yellow */

.u-btn-yellow {
	color: #fff;
	background-color: #ebc71d;
}

.u-btn-yellow:hover,
.u-btn-yellow.active {
	border-color: #efd34c;
	background-color: #efd34c;
}

.u-btn-yellow:hover,
.u-btn-yellow:focus,
.u-btn-yellow.active {
	color: #fff;
}


/* Button Aqua */

.u-btn-aqua {
	color: #fff;
	background-color: #29d6e6;
}

.u-btn-aqua:hover,
.u-btn-aqua.active {
	border-color: #57dfeb;
	background-color: #57dfeb;
}

.u-btn-aqua:hover,
.u-btn-aqua:focus,
.u-btn-aqua.active {
	color: #fff;
}


/* Button Cyan */

.u-btn-cyan {
	color: #fff;
	background-color: #00bed6;
}

.u-btn-cyan:hover,
.u-btn-cyan.active {
	border-color: #0ae4ff;
	background-color: #0ae4ff;
}

.u-btn-cyan:hover,
.u-btn-cyan:focus,
.u-btn-cyan.active {
	color: #fff;
}


/* Button Teal */

.u-btn-teal {
	color: #fff;
	background-color: #18ba9b;
}

.u-btn-teal:hover,
.u-btn-teal.active {
	border-color: #22e3be;
	background-color: #22e3be;
}

.u-btn-teal:hover,
.u-btn-teal:focus,
.u-btn-teal.active {
	color: #fff;
}


/* Button Brown */

.u-btn-brown {
	color: #fff;
	background-color: #9c8061;
}

.u-btn-brown:hover,
.u-btn-brown.active {
	border-color: #b09980;
	background-color: #b09980;
}

.u-btn-brown:hover,
.u-btn-brown:focus,
.u-btn-brown.active {
	color: #fff;
}


/* Button Bluegrey */

.u-btn-bluegray {
	color: #fff;
	background-color: #585f69;
}

.u-btn-bluegray:hover,
.u-btn-bluegray.active {
	border-color: #6f7885;
	background-color: #6f7885;
}

.u-btn-bluegray:hover,
.u-btn-bluegray:focus,
.u-btn-bluegray.active {
	color: #fff;
}


/* Button Dark Gray */

.u-btn-darkgray {
	color: #fff;
	background-color: #333;
}

.u-btn-darkgray:hover,
.u-btn-darkgray.active {
	border-color: #4d4d4d;
	background-color: #4d4d4d;
}

.u-btn-darkgray:hover,
.u-btn-darkgray:focus,
.u-btn-darkgray.active {
	color: #fff;
}


/* Button Black */

.u-btn-black {
	color: #fff;
	background-color: #000;
}

.u-btn-black:hover,
.u-btn-black.active {
	border-color: #1a1a1a;
	background-color: #1a1a1a;
}

.u-btn-black:hover,
.u-btn-black:focus,
.u-btn-black.active {
	color: #fff;
}


/***********  Outline Buttons  ***************/


/* Outline Button Primary */

.u-btn-outline-primary {
	color: #72c02c;
	border-color: #72c02c;
	background-color: transparent;
}

.u-btn-outline-primary:focus,
.u-btn-outline-primary.active {
	color: #fff;
	background-color: #72c02c;
}

.u-btn-outline-primary:hover {
	color: #fff;
	background-color: #72c02c;
}


/* Button Outline Red */

.u-btn-outline-red {
	color: #f00;
	border-color: #f00;
	background-color: transparent;
}

.u-btn-outline-red:focus,
.u-btn-outline-red.active {
	color: #fff;
	background-color: #f00;
}

.u-btn-outline-red:hover {
	color: #fff;
	background-color: #f00;
}


/* Outline Button Dark Red */

.u-btn-outline-darkred {
	color: #a10f2b;
	border-color: #a10f2b;
	background-color: transparent;
}

.u-btn-outline-darkred:focus,
.u-btn-outline-darkred.active {
	color: #fff;
	background-color: #a10f2b;
}

.u-btn-outline-darkred:hover {
	color: #fff;
	background-color: #a10f2b;
}


/* Button Outline Red Tomato */

.u-btn-outline-lightred {
	color: #e64b3b;
	border-color: #e64b3b;
	background-color: transparent;
}

.u-btn-outline-lightred:focus,
.u-btn-outline-lightred.active {
	color: #fff;
	background-color: #e64b3b;
}

.u-btn-outline-lightred:hover {
	color: #fff;
	background-color: #e64b3b;
}


/* Outline Button Blue */

.u-btn-outline-blue {
	color: #3398dc;
	border-color: #3398dc;
	background-color: transparent;
}

.u-btn-outline-blue:focus,
.u-btn-outline-blue.active {
	color: #fff;
	background-color: #3398dc;
}

.u-btn-outline-blue:hover {
	color: #fff;
	background-color: #3398dc;
}


/* Outline Button Indigo */

.u-btn-outline-indigo {
	color: #4263a3;
	border-color: #4263a3;
	background-color: transparent;
}

.u-btn-outline-indigo:focus,
.u-btn-outline-indigo.active {
	color: #fff;
	background-color: #4263a3;
}

.u-btn-outline-indigo:hover {
	color: #fff;
	background-color: #4263a3;
}


/* Outline Button Purple */

.u-btn-outline-purple {
	color: #9a69cb;
	border-color: #9a69cb;
	background-color: transparent;
}

.u-btn-outline-purple:focus,
.u-btn-outline-purple.active {
	color: #fff;
	background-color: #9a69cb;
}

.u-btn-outline-purple:hover {
	color: #fff;
	background-color: #9a69cb;
}


/* Outline Button Dark Purple */

.u-btn-outline-darkpurple {
	color: #6639b6;
	border-color: #6639b6;
	background-color: transparent;
}

.u-btn-outline-darkpurple:focus,
.u-btn-outline-darkpurple.active {
	color: #fff;
	background-color: #6639b6;
}

.u-btn-outline-darkpurple:hover {
	color: #fff;
	background-color: #6639b6;
}


/* Outline Button Pink */

.u-btn-outline-pink {
	color: #e81c62;
	border-color: #e81c62;
	background-color: transparent;
}

.u-btn-outline-pink:focus,
.u-btn-outline-pink.active {
	color: #fff;
	background-color: #e81c62;
}

.u-btn-outline-pink:hover {
	color: #fff;
	background-color: #e81c62;
}


/* Outline Button Dark Purple */

.u-btn-outline-darkpurple {
	color: #6639b6;
	border-color: #6639b6;
	background-color: transparent;
}

.u-btn-outline-darkpurple:focus,
.u-btn-outline-darkpurple.active {
	color: #fff;
	background-color: #6639b6;
}

.u-btn-outline-darkpurple:hover {
	color: #fff;
	background-color: #6639b6;
}


/* Outline Button Pink */

.u-btn-outline-pink {
	color: #e81c62;
	border-color: #e81c62;
	background-color: transparent;
}

.u-btn-outline-pink:focus,
.u-btn-outline-pink.active {
	color: #fff;
	background-color: #e81c62;
}

.u-btn-outline-pink:hover {
	color: #fff;
	background-color: #e81c62;
}


/* Outline Button Orange */

.u-btn-outline-orange {
	color: #e57d20;
	border-color: #e57d20;
	background-color: transparent;
}

.u-btn-outline-orange:focus,
.u-btn-outline-orange.active {
	color: #fff;
	background-color: #e57d20;
}

.u-btn-outline-orange:hover {
	color: #fff;
	background-color: #e57d20;
}


/* Outline Button Deep Orange */

.u-btn-outline-deeporange {
	color: #fe541e;
	border-color: #fe541e;
	background-color: transparent;
}

.u-btn-outline-deeporange:focus,
.u-btn-outline-deeporange.active {
	color: #fff;
	background-color: #fe541e;
}

.u-btn-outline-deeporange:hover {
	color: #fff;
	background-color: #fe541e;
}


/* Outline Button Yellow */

.u-btn-outline-yellow {
	color: #555;
	border-color: #ebc71d;
	background-color: transparent;
}

.u-btn-outline-yellow:focus,
.u-btn-outline-yellow.active {
	color: #555;
	background-color: #ebc71d;
}

.u-btn-outline-yellow:hover {
	color: #555;
	background-color: #ebc71d;
}


/* Outline Button Aqua */

.u-btn-outline-aqua {
	color: #29d6e6;
	border-color: #29d6e6;
	background-color: transparent;
}

.u-btn-outline-aqua:focus,
.u-btn-outline-aqua.active {
	color: #fff;
	background-color: #29d6e6;
}

.u-btn-outline-aqua:hover {
	color: #fff;
	background-color: #29d6e6;
}


/* Outline Button Cyan */

.u-btn-outline-cyan {
	color: #00bed6;
	border-color: #00bed6;
	background-color: transparent;
}

.u-btn-outline-cyan:focus,
.u-btn-outline-cyan.active {
	color: #fff;
	background-color: #00bed6;
}

.u-btn-outline-cyan:hover {
	color: #fff;
	background-color: #00bed6;
}


/* Outline Button Teal */

.u-btn-outline-teal {
	color: #18ba9b;
	border-color: #18ba9b;
	background-color: transparent;
}

.u-btn-outline-teal:focus,
.u-btn-outline-teal.active {
	color: #fff;
	background-color: #18ba9b;
}

.u-btn-outline-teal:hover {
	color: #fff;
	background-color: #18ba9b;
}


/* Outline Button Brown */

.u-btn-outline-brown {
	color: #9c8061;
	border-color: #9c8061;
	background-color: transparent;
}

.u-btn-outline-brown:focus,
.u-btn-outline-brown.active {
	color: #fff;
	background-color: #9c8061;
}

.u-btn-outline-brown:hover {
	color: #fff;
	background-color: #9c8061;
}


/* Outline Button Bluegrey */

.u-btn-outline-bluegray {
	color: #585f69;
	border-color: #585f69;
	background-color: transparent;
}

.u-btn-outline-bluegray:focus,
.u-btn-outline-bluegray.active {
	color: #fff;
	background-color: #585f69;
}

.u-btn-outline-bluegray:hover {
	color: #fff;
	background-color: #585f69;
}


/* Outline Button Black */

.u-btn-outline-black {
	color: #000;
	border-color: #000;
	background-color: transparent;
}

.u-btn-outline-black:focus,
.u-btn-outline-black.active {
	color: #fff;
	background-color: #000;
}

.u-btn-outline-black:hover {
	color: #fff;
	background-color: #000;
}


/* Outline Button Dark Gray */

.u-btn-outline-darkgray {
	color: #333;
	border-color: #333;
	background-color: transparent;
}

.u-btn-outline-darkgray:focus,
.u-btn-outline-darkgray.active {
	color: #fff;
	background-color: #333;
}

.u-btn-outline-darkgray:hover {
	color: #fff;
	background-color: #333;
}


/* Gradient Style v1 */

.u-btn-gradient-v1 {
	color: #fff;
	background: -webkit-gradient(linear, left top, right top, from(#4776E6), to(#8E54E9)) !important;
	background: -webkit-linear-gradient(left, #4776E6 0%, #8E54E9 100%) !important;
	background: -o-linear-gradient(left, #4776E6 0%, #8E54E9 100%) !important;
	background: linear-gradient(to right, #4776E6 0%, #8E54E9 100%) !important;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#4776E6), to(#8E54E9));
	-webkit-border-image: -webkit-linear-gradient(left, #4776E6 0%, #8E54E9 100%);
	-o-border-image: -o-linear-gradient(left, #4776E6 0%, #8E54E9 100%);
	border-image: -webkit-gradient(linear, left top, right top, from(#4776E6), to(#8E54E9));
	border-image: linear-gradient(to right, #4776E6 0%, #8E54E9 100%);
	border-image-slice: 1;
}

.u-btn-gradient-v1:hover,
.u-btn-gradient-v1:focus,
.u-btn-gradient-v1.active {
	opacity: .9;
	color: #fff;
}


/* Gradient Style v2 */

.u-btn-gradient-v2 {
	color: #fff;
	background: -webkit-gradient(linear, left top, right top, from(#E040FB), to(#00BCD4)) !important;
	background: -webkit-linear-gradient(left, #E040FB 0%, #00BCD4 100%) !important;
	background: -o-linear-gradient(left, #E040FB 0%, #00BCD4 100%) !important;
	background: linear-gradient(to right, #E040FB 0%, #00BCD4 100%) !important;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#E040FB), to(#00BCD4));
	-webkit-border-image: -webkit-linear-gradient(left, #E040FB 0%, #00BCD4 100%);
	-o-border-image: -o-linear-gradient(left, #E040FB 0%, #00BCD4 100%);
	border-image: -webkit-gradient(linear, left top, right top, from(#E040FB), to(#00BCD4));
	border-image: linear-gradient(to right, #E040FB 0%, #00BCD4 100%);
	border-image-slice: 1;
}

.u-btn-gradient-v2:hover,
.u-btn-gradient-v2:focus,
.u-btn-gradient-v2.active {
	opacity: .9;
	color: #fff;
}


/* Gradient Style v1 */

.u-btn-outline-gradient-v1 {
	color: #555;
	background: transparent;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#4776E6), to(#8E54E9));
	-webkit-border-image: -webkit-linear-gradient(left, #4776E6 0%, #8E54E9 100%);
	-o-border-image: -o-linear-gradient(left, #4776E6 0%, #8E54E9 100%);
	border-image: -webkit-gradient(linear, left top, right top, from(#4776E6), to(#8E54E9));
	border-image: linear-gradient(to right, #4776E6 0%, #8E54E9 100%);
	border-image-slice: 1;
}

.u-btn-outline-gradient-v1:hover,
.u-btn-outline-gradient-v1:focus,
.u-btn-outline-gradient-v1.active {
	background: -webkit-gradient(linear, left top, right top, from(#4776E6), to(#8E54E9));
	background: -webkit-linear-gradient(left, #4776E6 0%, #8E54E9 100%);
	background: -o-linear-gradient(left, #4776E6 0%, #8E54E9 100%);
	background: linear-gradient(to right, #4776E6 0%, #8E54E9 100%);
	color: #fff;
}


/* Gradient Style v2 */

.u-btn-outline-gradient-v2 {
	color: #555;
	background: transparent;
	-webkit-border-image: -webkit-gradient(linear, left top, right top, from(#E040FB), to(#00BCD4));
	-webkit-border-image: -webkit-linear-gradient(left, #E040FB 0%, #00BCD4 100%);
	-o-border-image: -o-linear-gradient(left, #E040FB 0%, #00BCD4 100%);
	border-image: -webkit-gradient(linear, left top, right top, from(#E040FB), to(#00BCD4));
	border-image: linear-gradient(to right, #E040FB 0%, #00BCD4 100%);
	border-image-slice: 1;
}

.u-btn-outline-gradient-v2:hover,
.u-btn-outline-gradient-v2:focus,
.u-btn-outline-gradient-v2.active {
	background: -webkit-gradient(linear, left top, right top, from(#E040FB), to(#00BCD4));
	background: -webkit-linear-gradient(left, #E040FB 0%, #00BCD4 100%);
	background: -o-linear-gradient(left, #E040FB 0%, #00BCD4 100%);
	background: linear-gradient(to right, #E040FB 0%, #00BCD4 100%);
	color: #fff;
}


/* Buttons Extra Learge */

.btn-extra-lg {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.4;
	padding: 0.92857rem 1.85714rem;
}

.btn-extra-lg i {
	font-size: 42px;
}

.btn-extra-lg .btn-subheading {
	font-size: 12px;
}


/* Scroll Top Button */
#scrollTopBtn {
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 45px;
  height: 45px;
  opacity: 0;
  z-index: 1000;
  font-size: 18px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #282828;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  outline: none;
  border: none;
}

#scrollTopBtn:hover {
  background-color: #72c02c;
}

#scrollTopBtn.actived {
  right: 30px;
  opacity: 1;
}
